footer{
  background-image:url(../../assets/img/footer.jpg);
  background-repeat:no-repeat;
  margin:auto;
  box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
  width:960px;
  height:498px;
  text-align:center;
  font:bold 16px sans-serif;
  padding:191px 94px;
  bottom:-68;
  color:#fff;
  text-decoration:none;
  ed link */
a:hover {color:#FF00FF;
}

