/*-------- General --------*/

body > .container {
    padding-top: 50px;
}

.container {
    max-width: 990px !important;
}

/*-------- Animate iFrame --------*/

iframe {
    display: block;
    width: 960px;/*להחליף ברוחב המסך של אנימייט*/
    height: 590px;/*להחליף בגובה המסך של אנימייט*/
    overflow: hidden;
    outline: 0;
    border: 0;
    float: right;
    margin: 0 -15px;
}

/*-------- Main Nav --------*/

a.navbar-brand {
    background-image: url(../images/fish.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 90px center;
    padding-right: 50px;
    font-size:14px;
    padding-top:15px;
}

/*-------- Modal --------*/

#about .modal-body, .modal-title {
    text-align: center;
}

#about .dialogWindowText {
    background-image: url(../images/HIT-Logo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 65px;
    width: 220px;
    margin: 0 auto;
    padding: 5px 65px 5px 0;
    text-align: right;
}

#about .modal-header {
    padding-bottom: 7px;
}

